name: 'Script Auto refresh feed'

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'
jobs:
  feed_refresh:
    runs-on: ubuntu-latest
    env:
      SECRET_USER: ${{ secrets.USER }}
      SECRET_TOKEN: ${{ secrets.TOKEN }}
    steps:
      - name: 'Refresh feed in fresh ....' 
        run: |
          curl 'https://fresh.fengyushanzhi.cf/p/i/?c=feed&a=actualize&user=%SECRET_USER%&token=%SECRET_TOKEN%&ajax=1'
